<html>
    <head>
        <style type="text/css">
            h4 {
                text-align: left;
            }

            @media screen {
                .headerLineTitle {
                    width: 1.5in;
                    display: inline-block;
                    margin: 0in;
                    margin-bottom: .0001pt;
                    font-size: 11.0pt;
                    font-family: "Calibri","sans-serif";
                    font-weight: bold;
                }

                .headerLineText {
                    display: inline;
                    margin: 0in;
                    margin-bottom: .0001pt;
                    font-size: 11.0pt;
                    font-family: "Calibri","sans-serif";
                    font-weight: normal;
                }

                .pageHeader {
                    font-size: 14.0pt;
                    font-family: "Calibri","sans-serif";
                    font-weight: bold;
                    visibility: hidden;
                    display: none;
                }
            }

            @media print {
                .headerLineTitle {
                    width: 1.5in;
                    display: inline-block;
                    margin: 0in;
                    margin-bottom: .0001pt;
                    font-size: 11.0pt;
                    font-family: "Calibri","sans-serif";
                    font-weight: bold;
                }

                .headerLineText {
                    display: inline;
                    margin: 0in;
                    margin-bottom: .0001pt;
                    font-size: 11.0pt;
                    font-family: "Calibri","sans-serif";
                    font-weight: normal;
                }

                .pageHeader {
                    font-size: 14.0pt;
                    font-family: "Calibri","sans-serif";
                    font-weight: bold;
                    visibility: visible;
                    display: block;
                }
            }
        </style>
    </head>
    <body>
        <div dir="ltr">
            <div class="gmail_default" style="font-family:verdana,sans-serif;font-size:large">
                <div dir="ltr">
                    <div class="gmail_default">
                        <div dir="ltr">
                            <div class="gmail_default">
                                <div dir="ltr">
                                    <div class="gmail_default">
                                        <div dir="ltr">
                                            <div class="gmail_default">
                                                <span id="m_-7948497203041860467m_6969949895024216486gmail-docs-internal-guid-54ebcd3c-7fff-3c2c-f5f2-191f6523ba24">
                                                    <p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt">
                                                        <span style="font-size:11pt;font-family:&quot;IBM Plex Sans&quot;,sans-serif;color:rgb(56,118,29);background-color:transparent;font-weight:700;font-variant-numeric:normal;font-variant-east-asian:normal;vertical-align:baseline">Olá, {{ firstname }}.</span>
                                                    </p>
                                                    <br>
                                                    <p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt">
                                                        <span style="font-size:11pt;font-family:&quot;IBM Plex Sans&quot;,sans-serif;color:rgb(0,0,0);background-color:transparent;font-variant-numeric:normal;font-variant-east-asian:normal;vertical-align:baseline">Sou do time de Tech aqui da </span>
                                                        <a href="https://musa.co/" style="text-decoration-line:none" target="_blank">
                                                            <span style="font-size:11pt;font-family:&quot;IBM Plex Sans&quot;,sans-serif;background-color:transparent;font-variant-numeric:normal;font-variant-east-asian:normal;text-decoration-line:underline;vertical-align:baseline">Musa</span>
                                                        </a>
                                                        <span style="font-size:11pt;font-family:&quot;IBM Plex Sans&quot;,sans-serif;color:rgb(0,0,0);background-color:transparent;font-variant-numeric:normal;font-variant-east-asian:normal;vertical-align:baseline">e fiquei muito feliz em saber que você se tornou Muser! E vim aqui facilitar sua jornada conosco trazendo todos os acessos que você precisa configurar para iniciar a sua jornada. </span>
                                                        <span style="font-size:11pt;font-family:&quot;IBM Plex Sans&quot;,sans-serif;color:rgb(56,118,29);background-color:transparent;font-variant-numeric:normal;font-variant-east-asian:normal;vertical-align:baseline">Vamos lá?</span>
                                                    </p>
                                                    <br>
                                                    <p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt">
                                                        <span style="font-size:11pt;font-family:&quot;IBM Plex Sans&quot;,sans-serif;color:rgb(0,0,0);background-color:transparent;font-variant-numeric:normal;font-variant-east-asian:normal;vertical-align:baseline">Aqui na Musa, utilizamos as ferramentas Google Workspace para: enviar e-mails, agendar reuniões, criar documentos e armazenar arquivos nos drives e muito mais! Para configurar seu ambiente, coloquei abaixo um passo a passo:</span>
                                                    </p>
                                                    <br>
                                                    <ol style="margin-top:0px;margin-bottom:0px">
                                                        <li dir="ltr" style="list-style-type:decimal;font-size:11pt;font-family:&quot;IBM Plex Sans&quot;,sans-serif;color:rgb(0,0,0);background-color:transparent;font-variant-numeric:normal;font-variant-east-asian:normal;vertical-align:baseline">
                                                            <p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt" role="presentation">
                                                                <span style="font-size:11pt;background-color:transparent;font-variant-numeric:normal;font-variant-east-asian:normal;vertical-align:baseline">Acesse o Gmail da Google, </span>
                                                                <a href="https://accounts.google.com/signin/v2/identifier?continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&amp;service=mail&amp;sacu=1&amp;rip=1&amp;flowName=GlifWebSignIn&amp;flowEntry=ServiceLogin" style="text-decoration-line:none" target="_blank">
                                                                    <span style="font-size:11pt;background-color:transparent;font-variant-numeric:normal;font-variant-east-asian:normal;text-decoration-line:underline;vertical-align:baseline">clicando aqui</span>
                                                                </a>
                                                                <span style="font-size:11pt;background-color:transparent;font-variant-numeric:normal;font-variant-east-asian:normal;vertical-align:baseline">.</span>
                                                            </p>
                                                        </li>
                                                        <li dir="ltr" style="list-style-type:decimal;font-size:11pt;font-family:&quot;IBM Plex Sans&quot;,sans-serif;color:rgb(0,0,0);background-color:transparent;font-variant-numeric:normal;font-variant-east-asian:normal;vertical-align:baseline">
                                                            <p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt" role="presentation">
                                                                <span style="font-size:11pt;background-color:transparent;font-variant-numeric:normal;font-variant-east-asian:normal;vertical-align:baseline">
                                                                    Digite seu e-mail Musa: {{ email }} 
                                                                </span>
                                                            </p>
                                                        </li>
                                                        <li dir="ltr" style="list-style-type:decimal;font-size:11pt;font-family:&quot;IBM Plex Sans&quot;,sans-serif;color:rgb(0,0,0);background-color:transparent;font-variant-numeric:normal;font-variant-east-asian:normal;vertical-align:baseline">
                                                            <p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt" role="presentation">
                                                                <span style="font-size:11pt;background-color:transparent;font-variant-numeric:normal;font-variant-east-asian:normal;vertical-align:baseline">E sua senha temporária: Musa@123. Você precisará cadastrar uma nova senha intransferível e com as recomendações do Google, beleza?</span>
                                                            </p>
                                                        </li>
                                                    </ol>
                                                    <br>
                                                    <p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt">
                                                        <span style="font-size:11pt;font-family:&quot;IBM Plex Sans&quot;,sans-serif;color:rgb(56,118,29);background-color:transparent;font-variant-numeric:normal;font-variant-east-asian:normal;vertical-align:baseline">Nós, Musers, adoramos conhecer novas pessoas!</span>
                                                        <span style="font-size:11pt;font-family:&quot;IBM Plex Sans&quot;,sans-serif;color:rgb(0,0,0);background-color:transparent;font-variant-numeric:normal;font-variant-east-asian:normal;vertical-align:baseline">Coloque uma foto em seu e-mail e configure sua </span>
                                                        <a href="https://docs.google.com/drawings/d/1xPuOzGvADQeuYfWqwe08EvnPsJMCm5yicJnRONV7RMQ/edit?hl=pt-BR" style="text-decoration-line:none" target="_blank">
                                                            <span style="font-size:11pt;font-family:&quot;IBM Plex Sans&quot;,sans-serif;background-color:transparent;font-variant-numeric:normal;font-variant-east-asian:normal;text-decoration-line:underline;vertical-align:baseline">assinatura</span>
                                                        </a>
                                                        <span style="font-size:11pt;font-family:&quot;IBM Plex Sans&quot;,sans-serif;color:rgb(0,0,0);background-color:transparent;font-variant-numeric:normal;font-variant-east-asian:normal;vertical-align:baseline">para fazer parte da nossa identidade!</span>
                                                    </p>
                                                    <br>
                                                    <p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt">
                                                        <span style="font-size:11pt;font-family:&quot;IBM Plex Sans&quot;,sans-serif;color:rgb(56,118,29);background-color:transparent;font-variant-numeric:normal;font-variant-east-asian:normal;vertical-align:baseline">Você já ouviu falar do Slack?</span>
                                                        <span style="font-size:11pt;font-family:&quot;IBM Plex Sans&quot;,sans-serif;color:rgb(0,0,0);background-color:transparent;font-variant-numeric:normal;font-variant-east-asian:normal;vertical-align:baseline">É o nosso canal predileto para se comunicar de forma ágil com as equipes e ter acesso às novidades. Assim que configurar seu Gmail, clique em nosso link para o nosso workspace </span>
                                                        <span style="font-size:11pt;font-family:&quot;IBM Plex Sans&quot;,sans-serif;color:rgb(56,118,29);background-color:transparent;font-variant-numeric:normal;font-variant-east-asian:normal;vertical-align:baseline">Musa Slack</span>
                                                        <span style="font-size:11pt;font-family:&quot;IBM Plex Sans&quot;,sans-serif;color:rgb(0,0,0);background-color:transparent;font-variant-numeric:normal;font-variant-east-asian:normal;vertical-align:baseline"> >>> </span>
                                                        <a href="https://join.slack.com/t/musatribe/shared_invite/zt-1zhop6kqt-CmCeQd2x_sMZLfoymKncdg" style="text-decoration-line:none" target="_blank">
                                                            <span style="font-size:11pt;font-family:&quot;IBM Plex Sans&quot;,sans-serif;background-color:transparent;font-variant-numeric:normal;font-variant-east-asian:normal;text-decoration-line:underline;vertical-align:baseline">clique aqui</span>
                                                        </a>
                                                        <span style="font-size:11pt;font-family:&quot;IBM Plex Sans&quot;,sans-serif;color:rgb(0,0,0);background-color:transparent;font-variant-numeric:normal;font-variant-east-asian:normal;vertical-align:baseline">.</span>
                                                    </p>
                                                    <br>
                                                    <p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt">
                                                        <span style="font-size:11pt;font-family:&quot;IBM Plex Sans&quot;,sans-serif;color:rgb(0,0,0);background-color:transparent;font-variant-numeric:normal;font-variant-east-asian:normal;vertical-align:baseline">Temos também uma ferramenta de produção chamada WMS e que você receberá o link e orientações de como usar em seu onboarding. Quando este momento chegar, já criei seu usuário e senha temporária:</span>
                                                    </p>
                                                    <br>
                                                    <ul style="margin-top:0px;margin-bottom:0px">
                                                        <li dir="ltr" style="list-style-type:disc;font-size:11pt;font-family:&quot;IBM Plex Sans&quot;,sans-serif;color:rgb(0,0,0);background-color:transparent;font-variant-numeric:normal;font-variant-east-asian:normal;vertical-align:baseline">
                                                            <p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt" role="presentation">
                                                                <span style="font-size:11pt;background-color:transparent;font-variant-numeric:normal;font-variant-east-asian:normal;vertical-align:baseline">Usuário: {{ phone }}</span>
                                                            </p>
                                                        </li>
                                                        <li dir="ltr" style="list-style-type:disc;font-size:11pt;font-family:&quot;IBM Plex Sans&quot;,sans-serif;color:rgb(0,0,0);background-color:transparent;font-variant-numeric:normal;font-variant-east-asian:normal;vertical-align:baseline">
                                                            <p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt" role="presentation">
                                                                <span style="font-size:11pt;background-color:transparent;font-variant-numeric:normal;font-variant-east-asian:normal;vertical-align:baseline">Senha: Musa@123. Você precisará cadastrar uma nova senha intransferível.</span>
                                                            </p>
                                                        </li>
                                                    </ul>
                                                    <br>
                                                    <p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt">
                                                        <span style="font-size:11pt;font-family:&quot;IBM Plex Sans&quot;,sans-serif;color:rgb(0,0,0);background-color:transparent;font-variant-numeric:normal;font-variant-east-asian:normal;vertical-align:baseline">Pensando em nossa segurança, para você poder acessar o office da Musa, precisamos que preencha o forms abaixo. Será solicitado uma foto estilo 3x4 e nome completo.</span>
                                                    </p>
                                                    <br>
                                                    <p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt">
                                                        <span style="font-size:11pt;font-family:&quot;IBM Plex Sans&quot;,sans-serif;color:rgb(0,0,0);background-color:transparent;font-variant-numeric:normal;font-variant-east-asian:normal;vertical-align:baseline">Link: </span>
                                                        <a href="https://forms.gle/7fD2v4YiXuNRhydMA" style="text-decoration-line:none" target="_blank">
                                                            <span style="font-size:11pt;font-family:&quot;IBM Plex Sans&quot;,sans-serif;background-color:transparent;font-variant-numeric:normal;font-variant-east-asian:normal;text-decoration-line:underline;vertical-align:baseline">https://forms.gle/7fD2v4YiXuNRhydMA</span>
                                                        </a>
                                                        <span style="font-size:11pt;font-family:&quot;IBM Plex Sans&quot;,sans-serif;color:rgb(0,0,0);background-color:transparent;font-variant-numeric:normal;font-variant-east-asian:normal;vertical-align:baseline"></span>
                                                    </p>
                                                    <br>
                                                    <p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt">
                                                        <span style="font-size:11pt;font-family:&quot;IBM Plex Sans&quot;,sans-serif;color:rgb(56,118,29);background-color:transparent;font-variant-numeric:normal;font-variant-east-asian:normal;vertical-align:baseline">Boas-vindas ao time Musa!</span>
                                                        <span style="font-size:11pt;font-family:&quot;IBM Plex Sans&quot;,sans-serif;color:rgb(0,0,0);background-color:transparent;font-variant-numeric:normal;font-variant-east-asian:normal;vertical-align:baseline">Se precisar de algo é só chamar. </span>
                                                        <span style="font-size:11pt;font-family:&quot;IBM Plex Sans&quot;,sans-serif;color:rgb(0,0,0);background-color:transparent;font-variant-numeric:normal;font-variant-east-asian:normal;vertical-align:baseline">
                                                            <span style="border:none;display:inline-block;overflow:hidden;width:17px;height:17px">
                                                                <img alt="😎" src="https://lh3.googleusercontent.com/F0C3xNqedyoMoCIYyllL8iJOY5hjw1S43Cra11MfPOm_hTLtvltuHHp9DhY09t0Q_GlMnKqAmhp_YeYGpzMeJxUn0L6aa3CeGpcsWeZ6CdUA65ywWU2ZDZgOZ7kPHKp8Du28RLsBfaafO3qblLh1c3pePZv5bcCc_r-8tPIFxKKQMCclQaPi5922XTm9Fdo" width="17" height="17" style="margin-left:0px;margin-top:0px" class="gmail_canned_response_image">
                                                            </span>
                                                        </span>
                                                    </p>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
